* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    background-image: url('../img/creampaper.png');
}

main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 54px;
    line-height: 72px;
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
}

button, button:focus {
    outline: none;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    padding-left: 60px;
    padding-right: 20px;
    border-right: 10px solid #0084B4;
    position: relative;
}

.box:before {
    font-family: 'FontAwesome';
    font-size: 36px;
    content: '\f10d';
    position: absolute;
    top: 0;
    left: 30px;
    transform: translate(-50%,-50%);
    color: #0084B4;
}

.box .quote {
    margin: 0;
    font-size: 36px;
    line-height: 48px;
}

/*
.box .quote:first-letter {
    font-size: 48px;
    color: #0084B4;
}
*/

.box .quote-first-letter {
    display: block;
    float: left;
    width: 96px;
    margin-right: 10px;
    color: #FFFFFF;
    background-color: #0084B4;
    font-size: 48px;
    line-height: 96px;
    text-align: center;
}

.box .author {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    text-align: right;
}

.box-btn {
    text-align: center;
}

.box-btn .trigger {
    padding: 10px 50px;
    border: 2px solid;
    border-radius: 5px;
    margin: 50px 0;
    color: #0084B4;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

.box-btn .trigger:hover {
    border: 2px solid transparent;
    color: #FFFFFF;
    background-color: #0084B4;
}

.box-btn .tweet {
    display: block;
    padding: 10px 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #0084B4;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
}

.box-btn .tweet:hover {
    color: #0084B4;
    background-color: transparent;
    border: 2px solid;
}

.box-btn .tweet i.fa {
    margin-right: 10px;
}